:root {
  --bg: #f5fafa;
  --text: #222;
  --card-bg: #fff;
  --nav-bg: #ffffff;
  --header: #007ba7;
  --primary: #007ba7;
  --btn-border: #007ba7;
  --btn-hover-bg: #007ba7;
  --btn-hover-text: #ffffff;
  --inter-ligne : #000000;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #f0f0f0;
  --card-bg: #1e1e1e;
  --nav-bg: #1e1e1e;
  --header: #08068a;
  --primary: #90caf9;
  --btn-border: #90caf9;
  --btn-hover-bg: #90caf9;
  --btn-hover-text: #121212;
  --inter-ligne : #ffffff;
}
